In [1]:
import pandas as pd
        
pure_isw = pd.read_csv('pure_isw.csv')
pure_isw

                                        text_for_vect2        date
0    [ ' mason ' , ' clark ' , ' george ' , ' barro...  2022-02-25
1    [ ' mason ' , ' clark ' , ' george ' , ' barro...  2022-02-26
2    [ ' mason ' , ' clark ' , ' george ' , ' barro...  2022-02-27
3    [ ' mason ' , ' clark ' , ' george ' , ' barro...  2022-02-28
4    [ ' frederick ' , ' kagan ' , ' george ' , ' b...  2022-03-01
..                                                 ...         ...
324  [ ' karolina ' , ' hird ' , ' grace ' , ' mapp...  2023-01-21
325  [ ' russian ' , ' offensive ' , ' campaign ' ,...  2023-01-22
326  [ ' russian ' , ' offensive ' , ' campaign ' ,...  2023-01-23
327  [ ' karolina ' , ' hird ' , ' riley ' , ' bail...  2023-01-24
328  [ ' karolina ' , ' hird ' , ' riley ' , ' bail...  2023-01-25

[329 rows x 2 columns]